html {
    font-family: 'Trebuchet MS', Arial, sans-serif;

}

body {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    margin-left: 2%;
    background-color: #04a7de;
    color:white;
    cursor: url("paint-brush.png"), auto;
}

#canvas {
  background-color: #fffcf8;
}

h3 {
  text-align: center;
}

#quote {
  font-style: italic;
  margin-bottom:20px;
}


.container {
    display: flex;
    flex-direction: row;

    max-width: 90%;
    height:150vh;
}

.iconCont {
    min-width: 220px;
    max-height: 700px;
    display: flex;
    flex-wrap: wrap;
    margin-right:20px;
}

.canvas {
    max-height: 70%;
    background-color: #d8d0c1;
}

/* .frame_toggle {
    width: 800px;
} */

.frame_toggle {
  min-width: 220px;
  display:flex;
  flex-direction: column;
  align-items: center;

}

.frame_toggle h4{
  /* display:inline; */
  text-align: center;
  padding:0;
  /* margin-right: 10px; */
}

.icons>* {
    flex-shrink: 1;
}

.icon:hover {
    cursor: pointer;
}

.iconButton {
    /* margin:5px; */
    width:63px;
    height:63px;
    margin:5px;
    border: none;
    border-radius: 10%;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.3);
    background-color: white;
    /* color:white; */
    cursor: url("paint-brush.png"), auto;
    transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #fff3b6;
  transform: translateX(5px);
}

.buttonClicked {
  background-color: #fcf8cc;
}

.buttonUnclicked {
  background-color: white;
}

#resetButton {
  /* padding-top: -10px; */
  background-color:rgb(250, 136, 155);
  transition: all .3s;
}

#resetButton h4{
color:rgb(83, 29, 73)
}

#resetButton:hover {
  background-color: #fff3b6;
}


.icons h4 {
    margin:0;
    font-weight: normal;
    font-family: 'Trebuchet MS';
    font-size: 13px;
    text-align: center;
    color:#02475f;
    font-weight: bold;
    
}

.frame_heading {
    width:800px;
}


/* Referenced: https://www.w3schools.com/howto/howto_css_switch.asp */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    cursor: url("paint-brush.png"), auto;

  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: gold;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px gold;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .table_cell {
    display:flex;
    flex-direction: column;
  }

  .cell_image {
    max-width:100%;
    height:auto;
    padding:5px;
  }

  .right {
    overflow-y:auto;
    height:700px;
    min-width: 300px;

    flex-grow: 1;

    margin-left: 20px;

  }

  table {
    margin-right:20px;
  }

  tr {
    padding:5px;
  }

  tr text {
    margin:3px;
  }
  .table_cell {
    border-bottom: 4px solid #0283ae;
  }