html {
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

body {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 5%;
    margin-left: 5%
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;

    max-width: 90%;
    height:150vh;
}

.icons {
    max-height: 30%;
}

.canvas {
    max-height: 70%;
}


.right {
    max-width: 40%;

}

.icons {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

.icons>* {
    flex-shrink: 1;
}

.icon:hover {
    cursor: pointer;
}

.icons button {
    margin:5px;
    width:70px;
    height:70px;
}

.icons h4 {
    margin:0;
    font-weight: normal;
    font-family: 'Trebuchet MS';
}